
<div class="gallary-header text-center">
  <h2>
    special packages
  </h2>
  
</div><!--/.gallery-header-->
<div class="packages-content">
  <div class="row"><% byebug %>
    <%= render(@tours) || "Khong co tour" %>
  </div><!--/.row-->
</div><!--/.packages-content-->
<!--/.packages-->
