
<!--travel-box start-->
<section  class="travel-box">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="single-travel-boxes">
          <div id="desc-tabs" class="desc-tabs">

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active fade in" id="tours">
            <%= form_with url: tours_path, method: :get, local: true do |f| %>
            <div class="tab-para">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="single-tab-select-box">
                    <h2>Tour Name</h2>
                    <div class="travel-icon">
                      <%= f.text_field :name, value:(params[:name] || ""), autofocus: true, class: "form-control", style: "height: 40px;" %>
                    </div><!-- /.travel-select-icon -->
                  </div><!--/.single-tab-select-box-->
                </div>

                <div class="col-lg-4 col-md-1 col-sm-4">
                  <div class="single-tab-select-box">
                    <h2>Duration</h2>
                    <div class="travel-icon">
                      <%= f.number_field :duaration, class: "form-control", step: 1,
                      min: 1, value: params[:duaration] || "", style: "height: 40px;" %>
                    </div><!-- /.travel-select-icon -->
                  </div><!--/.single-tab-select-box-->
                </div><!--/.col-->

                <div class="col-lg-2 col-md-1 col-sm-4">
                  <div class="single-tab-select-box">
                    <h2></h2>
                    <div class="about-btn">
                      <%= f.button class: "about-view travel-btn", style: "line-height: 40px;" do %>
                        <i class="fa fa-search" aria-hidden="true"  style=" padding-right: 11px; font-size: 20px;"></i>
                        search
                      <% end %><!-- /.select-->
                    </div><!-- /.travel-select-icon -->
                  </div><!--/.single-tab-select-box-->
                </div><!--/.col-->
              </div><!--/.row-->
            </div><!--/.tab-para-->
            <% end %>
          </div><!--/.tabpannel-->

        </div><!--/.tab content-->
      </div><!--/.desc-tabs-->
        </div><!--/.single-travel-box-->
      </div><!--/.col-->
    </div><!--/.row-->
  </div><!--/.container-->

</section><!--/.travel-box-->
