<footer  class="footer-copyright">
  <div class="container">
    <hr>
    <div class="foot-icons ">
      <ul class="footer-social-links list-inline list-unstyled">
        <li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa fa-instagram"></i></a></li>
      </ul>
      <p>&copy; 2017 <a href="https://www.themesine.com">ThemeSINE</a>. All Right Reserved</p>

    </div><!--/.foot-icons-->
    <div id="scroll-Top">
      <i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
    </div><!--/.scroll-Top-->
  </div><!-- /.container-->
</footer><!-- /.footer-copyright-->
