<div class="col-12 col-md-12">
  <!--Form with header-->
  <form>
    <div class="bg-info card border-primary rounded-0">
      <div class="card-header p-0" style="padding: 10px 0 10px 0;">
        <div class="text-white text-center py-2">
          <h3><i class="fa fa-info-circle"></i>Booking</h3>
          <p class="m-0">Information my booking tour</p>
        </div>
      </div>
      <div class="card-body p-3">
        <!--Body-->
        <div class="form-group gap-auto">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
            <input id="duaration" class="form-control" name="duaration" placeholder="duaration" style="z-index: inherit;">
          </div>
        </div>

        <div class="form-group gap-auto">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-calendar-check-o "></i></div>
            <input class="form-control" name="start-date" placeholder="Start date" required style="z-index: inherit;">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            <input class="form-control" name="quatity" required style="z-index: inherit;"></textarea>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-comment text-info"></i></div>
            <textarea class="form-control" rows="4" name="note" placeholder="Notes" required style="z-index: inherit;"></textarea>
          </div>
        </div>
      </div>


      <div class="card-header p-0" style="padding: 10px 0 10px 0;">
        <div class="text-white text-center py-2">
          <h3><i class="fa fa-id-card-o"></i> Contactanos</h3>
          <p class="m-0">Con gusto te ayudaremos</p>
        </div>
      </div>
      <div class="card-body p-3">
        <!--Body-->
        <div class="form-group gap-auto">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user text-info"></i></span>
            <input id="user-name" class="form-control" name="user-name" placeholder="name" style="z-index: inherit;">
          </div>
        </div>

        <div class="form-group gap-auto">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
            <input type="email" class="form-control" name="email" placeholder="ejemplo@gmail.com" required style="z-index: inherit;">
          </div>
        </div>

        <div class="form-group gap-auto">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-phone"></i></div>
            <input type="email" class="form-control" name="phone" placeholder="Phone number" required style="z-index: inherit;">
          </div>
        </div>

        <div class="text-center">
          <input type="submit" value="Booking Now!" class="btn btn-info btn-block rounded-0 py-2">
        </div>
      </div>
    </div>
  </form>
  <!--Form with header-->
</div>
