<div class="col-12 col-md-12">
  <div class="bg-info card border-primary rounded-0" style="p">
    <h3 class="title text-uppercase">
      Edit your review
    </h3>
    <!--Form with header-->
    <%= form_for @review, url: tour_reviews_path(tour_id: @tour.id), method: :post do |f| %>
      <%= f.number_field :point %>
      <%= f.text_area :content, rows: 5, data: {provide: "markdown"}, class: "ckeditor" %>

      <%= f.submit "Save", class: "btn btn-success" %>
    <% end %>
    <!--Form with header-->
  </div>
</div>
