<section id="search_reviews">
   <%= render "search" %>
</section>
<section>
  <div class="container">
    <div class="card border-0">
      <div class="row">
        <div class="gallary-header text-center">
          <h2>
            clients reviews
          </h2>
        </div>
        <% @reviews.each do |review|%>
          <%= render partial: "reviews/review", locals: {review: review} %>
        <% end %>

      </div>
        <%= will_paginate @reviews, class: "reviews" %>
    </div>
  </div>
</section>
