<div class="row bg-info card border-primary">
  <div class="col-lg-4 col-md-3 col-sm-4">
    <div class="single-tab-select-box">
      <h2>Tours</h2>
      <div class="travel-select-icon">
        <select class="form-control ">

          <option value="default">5</option><!-- /.option-->

          <option value="10">10</option><!-- /.option-->

          <option value="15">15</option><!-- /.option-->
          <option value="20">20</option><!-- /.option-->

        </select><!-- /.select-->
      </div><!-- /.travel-select-icon -->
    </div><!--/.single-tab-select-box-->
  </div>
  <div class="col-lg-4 col-md-3 col-sm-4">
    <div class="single-tab-select-box">
      <h2>Text</h2>
      <div class="">
        <input class="form-control ">
      </div><!-- /.travel-select-icon -->
    </div><!--/.single-tab-select-box-->
  </div><!--/.col-->
  <div class="col-lg-4 col-md-3 col-sm-4">
    <div class="about-btn pull-right">
      <button  class="about-view travel-btn">
        search
      </button><!--/.travel-btn-->
    </div><!--/.about-btn-->
  </div>
</div><!--/.row-->
